<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>final</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'final.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="final">
        <h1> Your Result :</h1>
        <div class="url">
            <div class="final_url">
                <h2>Shorten URL:--   http://localhost:8000/{{new_link}}</h2>
            </div>
        </div>
    </div>
</body>
</html>