<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myapp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div class="app_body">
            <h1 class="body_title">URLShortner</h1>
            <form class="body_form" action='/final' method='post'>
                {% csrf_token %}
                <input type="text" name="link" id="link"/>
                <button>Generate</button>
            </form>
        </div>
    </div>
</body>
</html>